body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 20%;
}

#container {
    margin: 0 auto;
    max-width: 600px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    line-height: 1.1;
    color: white;
    background-color: steelblue;
    margin: 0;
    text-transform: uppercase;
    padding: 20px 0;
}

#colorDisplay {
    font-size: 200%;
}


#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    background-color: blue;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}


